<!--
Page : about.ejs
Name : Meet Nakrani
Student Id : 301225546
Date : June 11, 2022
-->

<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <!--Main Content-->
    </main>

    <section class="about">
      <div class="containerPageCentered">
        <div class="main">
          <img src="/Assets/images/meet.jpg" alt="photo of Meet Nakrani">
          <div class="about-text">

            <h1>Meet Nakrani</h1>
            <h5>Software Developer</h5>
            <p>I am just another passionate and curious person wondering wheter it is possible to actualize some of my
              imaginative creations.
            </p>
            <button type="button">
              <a href="/Assets/documents/Meet Resume_Canvas.pdf" target="_blank"
                style="color:white; text-decoration: none;"> Know More</a>
            </button>
          </div>
        </div>
      </div>
    </section>



    <main>




    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>