<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <!--Main Content-->

    <div class="containerPageCentered">
      <h1 class="meet-custom">Welcome to my Portfolio Page</h1>

      <p>&nbsp;</p>
      <div style="text-align:center">
        <button type="aboutButton">
          <a href="/about" target="_blank" style="color:white; text-decoration: none;"> About Me</a>
        </button>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1 class="meet-custom2">Keep Hustling.</h1>
    </div>


    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>