<!--
Page : services.ejs
Name : Meet Nakrani
Student Id : 301225546
Date : June 11, 2022
-->

<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <!--Main Content-->
    <div class="container">

      <div style="text-align:center; font-size: 80px;">
        <h1>Services Offered</h1>
        &nbsp;
      </div>


      <div class="row">
        <div class="column">
          <img src="/Assets/images/service1.jpg" alt="service1" width="200px" height="150px">
        </div>
        <div class="column">
          <h1 class="meet-services-page-text">Web Development</h1>
          <p class="meet-services-page-desc">I can offer a number services related to web development including high
            level backend scripting and front end web designing. I can make neat code with fool-proof design so that the
            related projects can be produced in a way that is precise, convenient and easy-to-handle.</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <img src="/Assets/images/service2.jpg" alt="service2" width="200px" height="150px">

        </div>
        <div class="column">
          <h1 class="meet-services-page-text">Desktop applications</h1>
          <p class="meet-services-page-desc">I can offer a number services related to desktop application development
            including high level backend scripting and front end page designing. I can make neat code with fool-proof
            design so that the related projects can be produced in a way that is precise, convenient and easy-to-handle.
          </p>

        </div>
      </div>

      <div class="row">
        <div class="column">
          <img src="/Assets/images/service3.jpg" alt="service3" width="200px" height="150px">

        </div>
        <div class="column">
          <h1 class="meet-services-page-text">Technical Support</h1>
          <p class="meet-services-page-desc">I can offer a number services related to computer technology configuration
            including troubleshooting, installation guidance and product specifications.</p>

        </div>
      </div>


    </div>


    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>